<!DOCTYPE html>
<html>
<head>

<title>Hello, Jersey!!!</title>

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="resources/js/myApp.js"></script>
<script src="resources/js/myCtrl.js"></script>

<link rel="stylesheet" type="text/css" href="resources/css/myStyle.css">

</head>
<body ng-app="myApp">

	<div ng-controller="myCtrl"
		ng-init="
			firstName='Marcel';
			firstValue=1;
			person={firstName:'John',lastName:'Doe'};
			points=[1,15,19,2,40];">

		<b>ng-click</b>
		<h1 ng-click="changeName()">Hello, {{firstName}} {{lastName}}</h1>

		<b>ng-model</b>
		<p>
			<input type="text" ng-model="lastName" placeholder="Last Name">
		<p />

		<b>expression (number)</b>
		<p>
			<input type="number" ng-model="firstValue" placeholder="First Value">
			{{firstValue * 2}}
		</p>

		<b>expression (string)</b>
		<p>{{firstName + " " + lastName}}</p>

		<b>ng-bind</b>
		<p ng-bind="firstName + ' ' + lastName"></p>

		<b>object attributes</b>
		<p>{{person.firstName + " " + person.lastName}}</p>

		<b>array element</b>
		<p>{{points[2]}}</p>

		<b>ng-repeat</b>
		<ul>
			<li ng-repeat="x in points">{{ x }}</li>
		</ul>

		<b>select {{selected}}</b>
		<p>
			<select ng-model="selected">
				<option ng-repeat="x in names">{{x.country}}</option>
			</select>
		</p>

		<b>ng-repeat (array of objects)</b>
		<table>
			<tr ng-repeat="x in names">
				<td>{{ $index }}</td>
				<td>{{ x.name }}</td>
				<td>{{ x.country }}</td>
			</tr>
		</table>
		<p></p>

		<b>ng-show</b>
		<form name="myForm" ng-init="email='marcel.machado@telefonica.com'">
			Email: <input type="email" name="myAddress" ng-model="email" required>
			<span ng-show="myForm.myAddress.$error.email">Invalid e-mail</span>
			<p>
				<b>form status</b>
			<p>Valid: {{myForm.myAddress.$valid}} (if true, the value meets
				all criteria).</p>
			<p>Dirty: {{myForm.myAddress.$dirty}} (if true, the value has
				been changed).</p>
			<p>Touched: {{myForm.myAddress.$touched}} (if true, the field has
				been in focus).</p>
		</form>

		<b>function</b>
		<p>{{fullName()}}</p>

		<b>filter (uppercase)</b>
		<p>{{ 'AngularJS' | uppercase }}</p>

		<b>filter (lowercase)</b>
		<p>{{ 'AngularJS' | lowercase }}</p>

		<b>filter (currency)</b>
		<p>{{ 10 | currency }}</p>

		<b>filter (order by)</b>
		<ul>
			<li ng-repeat="x in names | orderBy:'country'">{{ x.name + ', '
				+ x.country }}</li>
		</ul>

		<b>filter (filter:string)</b>
		<ul>
			<li ng-repeat="x in names | filter : 'den'">{{ x }}</li>
		</ul>

		<b>filter (filter:ng-model)</b>
		<p>
			<input type="text" ng-model="test">
		</p>
		<ul>
			<li ng-repeat="x in names | filter : test">{{ x }}</li>
		</ul>

		<b>filter (my own)</b>
		<ul>
			<li ng-repeat="x in names | uppercase">{{x.name | myFormat}}</li>
		</ul>

		<b>other filters</b>
		<p>date, json, limitTo and number</p>

		<b>service (location)</b>
		<p>{{myUrl}}</p>

		<b>service (http/POST)</b>
		<button ng-click="insert()">Insert</button>
		<p>Data: {{postData}}</p>

		<b>service (http/PUT)</b>
		<button ng-click="update()">Put</button>
		<p>Data: {{putData}}</p>

		<b>service (http/DELETE)</b>
		<button ng-click="delete()">Delete</button>
		<p>Data: {{deleteData}}</p>

		<b>service (http/GET)</b>
		<button ng-click="select()">Select</button>
		<p>Data: {{content}}</p>
		<p>Status: {{statuscode}}</p>
		<p>StatusText: {{statustext}}</p>
		<p>Config: {{config}}</p>
		<p>Headers: {{headers}}</p>
		<p>Products:</p>
		<ul>
			<li ng-repeat="x in products">{{x.name}}</li>
		</ul>

		<b>service (http/GET using then)</b>
		<p>Data: {{responseData}}</p>

		<b>service (timeout)</b>
		<p>{{firstName}}</p>

		<b>scope (ng-controller)</b>
		<p>{{myScope}}</p>
	</div>

	<b>scope (ng-app)</b>
	<p>{{myScope}}</p>

	<div ng-controller="myCtrlInterval">
		<b>service (interval)</b>
		<p>{{theTime}}</p>

		<b>service (my own)</b>
		<p>{{hex}}</p>

		<b>Key-Value (select by key)</b>
		<p>
			<select ng-model="selectedCar" ng-options="x for (x, y) in cars">
			</select>
		</p>
		<p>You selected: {{selectedCar.brand}}</p>
		<p>Model: {{selectedCar.model}}</p>
		<p>Color: {{selectedCar.color}}</p>

		<b>Key-Value (select by value)</b>
		<p>
			<select ng-model="selectedCar"
				ng-options="y.brand for (x, y) in cars">
			</select>
		</p>
		<p>You selected: {{selectedCar.brand}}</p>
		<p>Model: {{selectedCar.model}}</p>
		<p>Color: {{selectedCar.color}}</p>

		<b>ng-disabled</b>
		<p>
			<input type="checkbox" ng-model="mySwitch" />
			<button ng-disabled="mySwitch">Click Me!</button>
		</p>

		<b>ng-show</b>
		<p ng-show="true">I am visible.</p>
		<p ng-show="false">I am not visible.</p>

		<b>event (ng-mouseover)</b>
		<p ng-mousemove="count = count + 1">Mouse Over Me!</p>
		<p>{{ count }}</p>

		<b>event (ng-click)</b>
		<button ng-click="count = count + 1">Click Me!</button>
		<p>{{ count }}</p>
	</div>

</body>
</html>